<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="/css/DangNhap.css">
</head>

<body>
    <div class="container">
        <h1>Đăng nhập</h1>
        <form id="loginForm">
            <div class="form-control">
                <input type="email" id="email" placeholder="Email" />
                <small></small>
            </div>
            <div class="form-control">
                <input type="password" id="password" placeholder="Mật khẩu" />
                <small></small>
            </div>
            <button type="submit">Đăng nhập</button>
            <div class="signup_link">Chưa có tài khoản? <a href="/DangKy">Đăng ký</a></div>
        </form>
    </div>

    <script src="/js/DangNhap.js"></script>
</body>

</html>
