<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Đăng ký</title>
	<link rel="stylesheet" href="/css/DangKy.css" />
	<!-- <link rel="stylesheet" href="/js/DangKy.js" /> -->
</head>

<body>
	<div class="container">
		<h1>Đăng ký</h1>
		<form id="registerForm">
			<div class="form-control">
				<input type="text" id="username" placeholder="Tên người dùng" />
				<small></small>
			</div>
			<div class="form-control">
				<input type="email" id="email" placeholder="Email" />
				<small></small>
			</div>
			<div class="form-control">
				<input type="password" id="password" placeholder="Mật khẩu" />
				<small></small>
			</div>
			<div class="form-control">
				<input type="password" id="password2" placeholder="Xác nhận mật khẩu" />
				<small></small>
			</div>
			<button type="submit">Đăng Ký</button>
		</form>
	</div>
	<script src="/js/DangKy.js"></script>
</body>

</html>
