<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/TrangChu.css">
    <link rel="stylesheet" href="/css/fontawesome-free-6.7.2/css/all.min.css">
    <!-- <link rel="stylesheet" href="/js/TrangChu.js"> -->
    
    <title>Trang_Chủ</title>
</head>
<body>
    <div id="khung">
        <div id="phandau">
            <div class="khungdau">
                <ul>
                    <li><a href=""><img src="/img/logo/logo3.jpg" alt=""></a></li>
                    <li><input type="text" placeholder="Bạn tìm gì..."><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><a href="./DangNhap"><button><i class="fa-regular fa-user"></i> Đăng nhập</button></a></li>
                    <li><a href=""><button><i class="fa-solid fa-cart-shopping"></i> Giỏ hàng</button></a></li>
                    <li><a href=""><i class="fa-solid fa-phone"></i> 0123456789</a></li>
                </ul>
            </div>
        </div>
        <div id="phanthan">
            <div class="bieungu">
                <div class="danhsach">
                    <div class="bn">
                        <img src="/img/banner/banners24.jpg" alt="" width="1200px" height="600px">
                    </div>
                    <div class="bn">
                        <img src="/img/banner/banner-ip.webp" alt="" width="1200px" height="600px">
                    </div>
                    <div class="bn">
                        <img src="/img/banner/banner-hp.webp" alt="" width="1200px" height="600px">
                    </div>
                    <div class="bn">
                        <img src="/img/banner/banner-dell.webp" alt="" width="1200px" height="600px">
                    </div>
                </div>
                <div class="nut">
                    <button id="trai"><</button>
                    <button id="phai">></i></button>
                </div>
                <ul class="cham">
                    <li class="hoatdong"></li>
                    <li></li>
                    <li></li>
                    <li></li> 
                </ul>
            </div>
            <div id="tieude">
                <ul>
                    <li><h1>ĐIỆN THOẠI NỔI BẬT</h1></li>
                    <li><button>Samsung</button></li>
                    <li><button>Iphone</button></li>
                </ul>
            </div>
            <div class="sanpham">
                <div class="sanpham_a">
                    <section>
                        <a href="" class="anh">
                            <img src="/img/ảnh máy/samsung/samsung-galaxy-s24-fe-8gb-256gb-(2).jpg" alt="">
                        </a>
                        <h3>
                            <a href="">Samsung Galaxy S24 FE</a>
                        </h3>
                        <div class="gia">
                            <span class="">14.990.000 <u>đ</u></span>
                                <span >16.990.000 <u>đ</u></span>
                                <span style="color: red;"> -11% </span>
                        </div>
                        <div class="thongtin">
                            <ul>    
                                <li>RAM: 8 GB</li>
                                <li>Dung lượng: 128 GB</li>
                                <li>Pin 4700 mAh, Sạc 25 W</li>
                            </ul>
                        </div>
                        <div class="mua">
                            <ul class="nutsp">
                                <li><a href=""><button class="a">MUA HÀNG</button></a></li>
                                <li><a href=""><button class="b">THÊM GIỎ HÀNG</button></a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="sanpham_a">
                    <section>
                        <a href="" class="anh">
                            <img src="/img/ảnh máy/samsung/samsung-galaxy-a16-(2).jpg" alt="">
                        </a>
                        <h3>
                            <a href="">Samsung Galaxy A16</a>
                        </h3>
                        <div class="gia">
                            <span class="">6.190.000 <u>đ</u></span>
                                <span >6.690.000 <u>đ</u></span>
                                <span style="color: red;"> -7% </span>
                        </div>
                        <div class="thongtin">
                            <ul>
                                <li>RAM: 8 GB</li>
                                <li>Dung lượng: 256 GB</li>
                                <li>Pin 5000 mAh, Sạc 25 W</li>
                            </ul>
                        </div>
                        <div class="mua">
                            <ul class="nutsp">
                                <li><a href=""><button class="a">MUA HÀNG</button></a></li>
                                <li><a href=""><button class="b">THÊM GIỎ HÀNG</button></a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="sanpham_a">
                    <section>
                        <a href="" class="anh">
                            <img src="/img/ảnh máy/samsung/samsung-galaxy-m15-(2).jpg" alt="">
                        </a>
                        <h3>
                            <a href="">Samsung Galaxy M15 5G</a>
                        </h3>
                        <div class="gia">
                            <span class="">4.990.000 <u>đ</u></span>
                        </div>
                        <div class="thongtin">
                            <ul>
                                <li>RAM: 8 GB</li>
                                <li>Dung lượng: 256 GB</li>
                                <li>Pin 6000 mAh, Sạc 25 W</li>
                            </ul>
                        </div>
                        <div class="mua">
                            <ul class="nutsp">
                                <li><a href=""><button class="a">MUA HÀNG</button></a></li>
                                <li><a href=""><button class="b">THÊM GIỎ HÀNG</button></a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="sanpham_a">
                    <section>
                        <a href="" class="anh">
                            <img src="/img/ảnh máy/samsung/samsung-galaxy-a55-5g-8-256-(8).jpg" alt="">
                        </a>
                        <h3>
                            <a href="">Samsung Galaxy </a>
                        </h3>
                        <div class="gia">
                            <span class="">9.590.000 <u>đ</u></span>
                                <span >10.990.000 <u>đ</u></span>
                                <span style="color: red;"> -12% </span>
                        </div>
                        <div class="thongtin">
                            <ul>
                                <li>RAM: 8 GB</li>
                                <li>Dung lượng: 256 GB</li>
                                <li>Pin 5000 mAh, Sạc 25 W</li>
                            </ul>
                        </div>
                        <div class="mua">
                            <ul class="nutsp">
                                <li><a href=""><button class="a">MUA HÀNG</button></a></li>
                                <li><a href=""><button class="b">THÊM GIỎ HÀNG</button></a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="sanpham_a">
                    <section>
                        <a href="" class="anh">
                            <img src="/img/ảnh máy/iphone/iphone-11-(108).jpg" alt="">
                        </a>
                        <h3>
                            <a href="">Iphone 11</a>
                        </h3>
                        <div class="gia">
                            <span class="">8.990.000 <u>đ</u></span>
                            <span >9.990.000 <u>đ</u></span>
                            <span style="color: red;"> -10% </span>
                        </div>
                        <div class="thongtin">
                            <ul>
                                <li>RAM: 4 GB</li>
                                <li>Dung lượng: 64 GB</li>
                                <li>Pin 3110 mAh, Sạc 18 W</li>
                            </ul>
                        </div>
                        <div class="mua">
                            <ul class="nutsp">
                                <li><a href=""><button class="a">MUA HÀNG</button></a></li>
                                <li><a href=""><button class="b">THÊM GIỎ HÀNG</button></a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="sanpham_a">
                    <section>
                        <a href="" class="anh">
                            <img src="/img/ảnh máy/iphone/iphone-12-(70).jpg" alt="">
                        </a>
                        <h3>
                            <a href="">Iphone 12</a>
                        </h3>
                        <div class="gia">
                            <span class="">11.990.000 <u>đ</u></span>
                                
                        </div>
                        <div class="thongtin">
                            <ul>
                                <li>RAM: 4 GB</li>
                                <li>Dung lượng: 64 GB</li>
                                <li>Pin 2815 mAh, Sạc 20 W</li>
                            </ul>
                        </div>
                        <div class="mua">
                            <ul class="nutsp">
                                <li><a href=""><button class="a">MUA HÀNG</button></a></li>
                                <li><a href=""><button class="b">THÊM GIỎ HÀNG</button></a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="sanpham_a">
                    <section>
                        <a href="" class="anh">
                            <img src="/img/ảnh máy/iphone/iphone-13-(86).jpg" alt="">
                        </a>
                        <h3>
                            <a href="">Iphone 13</a>
                        </h3>
                        <div class="gia">
                            <span class="">13.790.000 <u>đ</u></span>
                                <span >14.990.000 <u>đ</u></span>
                                <span style="color: red;"> -8% </span>
                        </div>
                        <div class="thongtin">
                            <ul>
                                <li>RAM: 4 GB</li>
                                <li>Dung lượng: 128 GB</li>
                                <li>Pin 3240 mAh, Sạc 20 W</li>
                            </ul>
                        </div>
                        <div class="mua">
                            <ul class="nutsp">
                                <li><a href=""><button class="a">MUA HÀNG</button></a></li>
                                <li><a href=""><button class="b">THÊM GIỎ HÀNG</button></a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="sanpham_a">
                    <section>
                        <a href="" class="anh">
                            <img src="/img/ảnh máy/iphone/iphone-14-(68).jpg" alt="">
                        </a>
                        <h3>
                            <a href="">Samsung Galaxy S24 FE</a>
                        </h3>
                        <div class="gia">
                            <span class="">17.190.000 <u>đ</u></span>
                                <span >17.290.000 <u>đ</u></span>
                                <span style="color: red;"> -11% </span>
                        </div>
                        <div class="thongtin">
                            <ul>
                                <li>RAM: 8 GB</li>
                                <li>Dung lượng: 128 GB</li>
                                <li>Pin 3279 mAh, Sạc 20 W</li>
                            </ul>
                        </div>
                        <div class="mua">
                            <ul class="nutsp">
                                <li><a href=""><button class="a">MUA HÀNG</button></a></li>
                                <li><a href=""><button class="b">THÊM GIỎ HÀNG</button></a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                
            </div>
            <div id="tieude">
                    <ul>
                        <li><h1>LAPTOP NỔI BẬT</h1></li>
                        <li><button style="width: 80px ;">HP</button></li>
                        <li><button>DELL</button></li>
                    </ul>
            </div>
            <div class="sanpham">
                <div class="sanpham_a">
                    <section>
                        <a href="" class="anh">
                            <img src="/img/ảnh máy/HP/hp-victus-15-fb1022ax-r5-94f19pa-thumb-1-600x600.jpg" alt="">
                        </a>
                        <h3>
                            <a href="">HP gaming VICTUS 15</a>
                        </h3>
                        <div class="gia">
                            <span class="">17.990.000 <u>đ</u></span>
                                <span >21.490.000 <u>đ</u></span>
                                <span style="color: red;"> -29% </span>
                        </div>
                        <div class="thongtin">
                            <ul>
                                <li>Màn hình: 15.6"</li>
                                <li>CPU: Ryzen 5, 7535HS, 3.3GHz</li>
                                <li>Card: RTX 2050 4GB</li>
                            </ul>
                        </div>
                        <div class="mua">
                            <ul class="nutsp">
                                <li><a href=""><button class="a">MUA HÀNG</button></a></li>
                                <li><a href=""><button class="b">THÊM GIỎ HÀNG</button></a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="sanpham_a">
                    <section>
                        <a href="" class="anh">
                            <img src="/img/ảnh máy/HP/hp-240-g9-i5-9t2g2pt-thumb-600x600.jpg" alt="">
                        </a>
                        <h3>
                            <a href="">HP 240 G9 i5 1235U</a>
                        </h3>
                        <div class="gia">
                            <span class="">16.490.000 <u>đ</u></span>
                                <span >19.590.000 <u>đ</u></span>
                                <span style="color: red;"> -15% </span>
                        </div>
                        <div class="thongtin">
                            <ul>
                                <li>Màn hình: 14.6"</li>
                                <li>CPU: i5, 1235U, 1.3GHz</li>
                                <li>Card: intel UHD</li>
                                
                            </ul>
                        </div>
                        <div class="mua">
                            <ul class="nutsp">
                                <li><a href=""><button class="a">MUA HÀNG</button></a></li>
                                <li><a href=""><button class="b">THÊM GIỎ HÀNG</button></a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="sanpham_a">
                    <section>
                        <a href="" class="anh">
                            <img src="/img/ảnh máy/HP/hp-240-g8-i3-6l1a2pa-(2).png" alt="">
                        </a>
                        <h3>
                            <a href="">HP 240 G8 i8 1115G4</a>
                        </h3>
                        <div class="gia">
                            <span class="">9.490.000 <u>đ</u></span>
                                <span >12.790.000 <u>đ</u></span>
                                <span style="color: red;"> -25% </span>
                        </div>
                        <div class="thongtin">
                            <ul>
                                <li>Màn hình: 15.6"</li>
                                <li>CPU: Ryzen 5, 7535HS, 3.3GHz</li>
                                <li>Card: RTX 2050 4GB</li>
                            </ul>
                        </div>
                        <div class="mua">
                            <ul class="nutsp">
                                <li><a href=""><button class="a">MUA HÀNG</button></a></li>
                                <li><a href=""><button class="b">THÊM GIỎ HÀNG</button></a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="sanpham_a">
                    <section>
                        <a href="" class="anh">
                            <img src="/img/ảnh máy/HP/hp-15-fd0015tu-i7-a19c5pa-thumb-1-600x600.jpg" alt="">
                        </a>
                        <h3>
                            <a href="">HP 15 i7 1355U</a>
                        </h3>
                        <div class="gia">
                            <span class="">20.990.000 <u>đ</u></span>
                                <span >21.990.000 <u>đ</u></span>
                                <span style="color: red;"> -9% </span>
                        </div>
                        <div class="thongtin">
                            <ul>
                                <li>Màn hình: 15.6"</li>
                                <li>CPU: i7, 1355U, 1.7GHz</li>
                                <li>Card: Intel Iris Xe</li>
                            </ul>
                        </div>
                        <div class="mua">
                            <ul class="nutsp">
                                <li><a href=""><button class="a">MUA HÀNG</button></a></li>
                                <li><a href=""><button class="b">THÊM GIỎ HÀNG</button></a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="sanpham_a">
                    <section>
                        <a href="" class="anh">
                            <img src="/img/ảnh máy/dell/dell-inspiron-15-3520-i5-n5i5052w1-(2).png" alt="">
                        </a>
                        <h3>
                            <a href="">Dell Inspiron 15 3520 i5 1235U</a>
                        </h3>
                        <div class="gia">
                            <span class="">15.990.000 <u>đ</u></span>
                                <span >16.990.000 <u>đ</u></span>
                                <span style="color: red;"> -5% </span>
                        </div>
                        <div class="thongtin">
                            <ul>
                                <li>Màn hình: 15.6"</li>
                                <li>CPU: i5, 1235U, 1.3GHz</li>
                                <li>Card: Intel Iris Xe</li>
                            </ul>
                        </div>
                        <div class="mua">
                            <ul class="nutsp">
                                <li><a href=""><button class="a">MUA HÀNG</button></a></li>
                                <li><a href=""><button class="b">THÊM GIỎ HÀNG</button></a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="sanpham_a">
                    <section>
                        <a href="" class="anh">
                            <img src="/img/ảnh máy/dell/dell-inspiron-15-3520-i5-n3520i5u165w11blufp-thumb-638621799086929611-600x600.jpg" alt="">
                        </a>
                        <h3>
                            <a href="">Dell Insprion 15 3520 i5 1235U</a>
                        </h3>
                        <div class="gia">
                            <span class="">16.490.000 <u>đ</u></span>
                                <span >16.990.000 <u>đ</u></span>
                        </div>
                        <div class="thongtin">
                            <ul>
                                <li>Màn hình: 14", Full HD (1920 x 1080), 144Hz</li>
                                <li>CPU: i5, 1235U, 1.3GHz</li>
                                <li>Card: Intel Iris Xe</li>
                            </ul>
                        </div>
                        <div class="mua">
                            <ul class="nutsp">
                                <li><a href=""><button class="a">MUA HÀNG</button></a></li>
                                <li><a href=""><button class="b">THÊM GIỎ HÀNG</button></a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="sanpham_a">
                    <section>
                        <a href="" class="anh">
                            <img src="/img/ảnh máy/dell/dell-vostro-3520-i5-71030559-thumb-600x600.jpg" alt="">
                        </a>
                        <h3>
                            <a href="">Dell Vostro 3530 i5 1335U</a>
                        </h3>
                        <div class="gia">
                            <span class="">18.490.000 <u>đ</u></span>
                                <span >19.990.000 <u>đ</u></span>
                                <span style="color: red;"> -7% </span>
                        </div>
                        <div class="thongtin">
                            <ul>
                                <li>Màn hình: 15.6"</li>
                                <li>CPU: i5, 1235U, 3.3GHz</li>
                                <li>Card: Intel Iris Xe</li>
                            </ul>
                        </div>
                        <div class="mua">
                            <ul class="nutsp">
                                <li><a href=""><button class="a">MUA HÀNG</button></a></li>
                                <li><a href=""><button class="b">THÊM GIỎ HÀNG</button></a></li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="sanpham_a">
                    <section>
                        <a href="" class="anh">
                            <img src="/img/ảnh máy/dell/dell-inspiron-16-5640-core-7-khpf5-thumb-600x600.jpg" alt="">
                        </a>
                        <h3>
                            <a href="">Dell Insprion 16 5640 i7 150U</a>
                        </h3>
                        <div class="gia">
                            <span class="">17.990.000 <u>đ</u></span>
                                <span >21.490.000 <u>đ</u></span>
                                <span style="color: red;"> -29% </span>
                        </div>
                        <div class="thongtin">
                            <ul>
                                <li>Màn hình: 15.6"</li>
                                <li>CPU: Ryzen 5, 7535HS, 3.3GHz</li>
                                <li>Card: RTX 2050 4GB</li>
                            </ul>
                        </div>
                        <div class="mua">
                            <ul class="nutsp">
                                <li><a href=""><button class="a">MUA HÀNG</button></a></li>
                                <li><a href=""><button class="b">THÊM GIỎ HÀNG</button></a></li>
                            </ul>
                        </div>
                    </section>
                </div>
        </div>
    </div>
        <div id="phancuoi">
            <div class="noidung">
                <div class="noidung-a">
                    <h3>Tổng đài hỗ trợ</h3>
                    <p><span>Gọi mua: </span><a href=""><h4 style="color: red;">199999999</h4></a> (8:00 - 21:30)</p>
                    <p><span>Khiếu nại: </span><a href=""><h4>188888888</h4></a> (8:00 - 21:30)</p>
                    <p><span>Bảo hành: </span><a href=""><h4>7777777777</h4></a> (8:00 - 21:30)</p>
                </div>
                <div class="noidung-a">
                    <h3>Về công ty</h3>
                    <p>Giới thiệu công ty</p>
                    <p>Tuyển dụng</p>
                    <p>Góp ý</p>
                    <p>Siêu thị</p>
                </div>
                <div class="noidung-a">
                    <h3>Thông tin khác</h3>
                    <p>Tích điểm</p>
                    <p>Hướng dẫn</p>
                    <p>Chính sách bảo hành</p>
                    <p>Chính sách đổi trả</p>
                </div>
                <div class="hotro">
                    <h3>Kết nối với</h3>
                    <div class="lienket">
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-tiktok"></i></a>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
    <script src="/js/TrangChu.js"></script>
</body>
</html>