
body {
	background-image: url('https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616_960_720.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.container {
	width: 500px;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 40px;
	border-radius: 15px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.container h1 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 28px;
	color: #2c3e50;
}


.form-control {
	position: relative;
	margin-bottom: 20px;
}

.form-control input {
	width: 100%;
	padding: 15px;
	font-size: 18px;
	border: none;
	background-color: #f0f0f0;
	border-radius: 10px;
	box-sizing: border-box;
}

.form-control.success input {
	background-color: #d4edda;
}

.form-control.error input {
	background-color: #f8d7da;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: -25px;
	left: 0;
	font-size: 14px;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

button {
	width: 100%;
	background-color: #3498db;
	color: white;
	padding: 15px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 18px;
}

button:hover {
	background-color: #2980b9;
}
