*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: aliceblue;
}
li{
    list-style-type: none;
}
#phandau{
    
    height: 100px;
    background-color: black;
}
#khung{
    width: 100%;
    height: 2700px;
    background-color: #181717;
}

.khungdau{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
.khungdau ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.khungdau ul li a img{
    width: 250px;
    height: 100%;
    border: none;
}
.khungdau ul li:nth-child(2){
    position: relative;
}
.khungdau ul li:nth-child(2) input{
    height: 40px;
    width: 300px;

    border-radius: 20px;
    padding-left: 10px;
}
.khungdau ul li:nth-child(2) i{
    position: absolute;
    font-size: 15px;
    color: red;
    right: 12px;
    line-height: 40px;
    cursor: pointer;
}

.khungdau ul li:nth-child(3) button{
    height: 40px;
    padding: 0 8px;
    border-radius: 20px ;
    font-size: 15px;
    cursor: pointer;
    background-color: transparent;
    color: #f8f8f8;
    border: 2px solid #f8f8f8;
    transition: all 0.5s ease;
}
.khungdau ul li:nth-child(3) button i{
    margin-right: 6px;
}
.khungdau ul li:nth-child(3) button:hover{
    background-color: red;
    color: black;
    border: #000000;
}
.khungdau ul li:nth-child(4) button{
    height: 40px;
    padding: 0 8px;
    border-radius: 20px ;
    font-size: 15px;
    cursor: pointer;
    background-color: transparent;
    color: #f8f8f8;
    border: 2px solid #f8f8f8;
    transition: all 0.5s ease;
}
.khungdau ul li:nth-child(4) button i{
    margin-right: 6px;
}
.khungdau ul li:nth-child(4) button:hover{
    background-color: red;
    color: black;
    border: #181717;
}
.khungdau ul li:nth-child(5) a{
    transition: all 0.5s ease;
}
.khungdau ul li:nth-child(5) a:hover{
    color: rgb(255, 0, 0);
}
#phanthan{
    width: 1200px;
    height: 1000px;
    margin: auto;
    background-color: rgb(138, 131, 131);
}
h2{
    text-align: center;
    padding: 20px 0;
    color: #f8f8f8;
}
.dienthoai{
    display: flex;
    justify-content: space-around;
}
.sanpham{
    width: 550px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #d7d3d3;
    border-radius: 20px;
}
.sanpham img{
    width: 90%;
    height: 90%;
    object-fit: contain;
}
.thongtin{
    display: flex;
    margin: 10px 30px;
}
.thongso{
    width: 550px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;   
    color: #000; 
    background-color: #d7d3d3;
    border-radius: 20px;
}
.mua-them{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 70px;
    background-color: #d7d3d3; 
    border-radius: 20px;
}
.mua-them button{
    height: 40px;
    padding: 0 8px;
    border-radius: 20px ;
    margin: 0 20px;
    font-size: 15px;
    cursor: pointer;
    background-color: transparent;
    color: #000000;
    border: 2px solid #000000;
    transition: all 0.5s ease;
}
.mua-ngay i{
    margin-right: 6px;
}
.mua-ngay:hover{
    background-color: red;
    color: rgb(252, 252, 252);
}
.them-gio-hang:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
#phancuoi{
    margin: auto;
    background-color: #c2c2c2;
    height: 400px;
    width: 1200px;
}
.noidung{
    display: flex;
    padding: 20px 10px;
    justify-content: space-evenly;
}
.noidung-a p{
    padding: 5px 0;
}

.lienket{
    display: wrap;
    justify-content: space-around;
}
.lienket a{
    font-size: 30px;
}
