<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sam Sung Galaxy S24 FE</title>
    <link rel="stylesheet" href="/css/SanPham.css">
    <link rel="stylesheet" href="fontawesome-free-6.7.2/css/all.min.css">
</head>
<body>
    <div id="khung">
        <div id="phandau">
            <div class="khungdau">
                <ul>
                    <li><a href=""><img src="/img/logo/logo3.jpg" alt="Logo"></a></li>
                    <li><input type="text" placeholder="Bạn tìm gì..."><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><button><i class="fa-regular fa-user"></i> Đăng nhập</button></li>
                    <li><button><i class="fa-solid fa-cart-shopping"></i> Giỏ hàng</button></li>
                    <li><a href=""><i class="fa-solid fa-phone"></i> 0123456789</a></li>
                </ul>
            </div>
        </div>
        <div id="phanthan">
            <h2>Điện thoại Sam Sung Galaxy S24 FE</h2>
            <div class="dienthoai">
                <div class="sanpham">
                    <img src="/img/ảnh máy/samsung/samsung-galaxy-s24-fe-8gb-256gb-(2).jpg" alt="Sam Sung Galaxy S24 FE">
                </div>
                <div class="sanpham">
                    <img src="/img/ảnh thông số ky thuật máy/samsung/samsung-galaxy-s24-fe-note-638642568083453695.jpg" alt="Thông số kỹ thuật Sam Sung Galaxy S24 FE">
                </div>
            </div>
            <div class="thongtin">
                <div class="thongso">
                    <h3>Thông số kỹ thuật</h3>
                    <ul>
                        <li>Màn hình: Super AMOLED, 6.4", Full HD+</li>
                        <li>Hệ điều hành: Android 13</li>
                        <li>Camera sau: Chính 50 MP & Phụ 12 MP, 8 MP</li>
                        <li>Camera trước: 32 MP</li>
                        <li>Chip: Exynos 2200</li>
                        <li>RAM: 8 GB</li>
                        <li>Bộ nhớ trong: 128 GB</li>
                        <li>SIM: 2 Nano SIM (SIM 2 chung khe thẻ nhớ), Hỗ trợ 5G</li>
                        <li>Pin, Sạc: 4500 mAh, 25W</li>
                    </ul>
                    
                </div>
                <div class="mua-them">
                    <button class="mua-ngay">Mua ngay</button>
                    <button class="them-gio-hang">Thêm vào giỏ hàng</button>
                </div>
            </div>
        <div id="phancuoi">
            <div class="noidung">
                <div class="noidung-a">
                    <h3>Tổng đài hỗ trợ</h3>
                    <p><span>Gọi mua: </span><a href=""><h4 style="color: red;">199999999</h4></a> (8:00 - 21:30)</p>
                    <p><span>Khiếu nại: </span><a href=""><h4>188888888</h4></a> (8:00 - 21:30)</p>
                    <p><span>Bảo hành: </span><a href=""><h4>7777777777</h4></a> (8:00 - 21:30)</p>
                </div>
                <div class="noidung-a">
                    <h3>Về công ty</h3>
                    <p>Giới thiệu công ty</p>
                    <p>Tuyển dụng</p>
                    <p>Góp ý</p>
                    <p>Siêu thị</p>
                </div>
                <div class="noidung-a">
                    <h3>Thông tin khác</h3>
                    <p>Tích điểm</p>
                    <p>Hướng dẫn</p>
                    <p>Chính sách bảo hành</p>
                    <p>Chính sách đổi trả</p>
                </div>
                <div class="hotro">
                    <h3>Kết nối với</h3>
                    <div class="lienket">
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-tiktok"></i></a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>
</html>
