<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dell Insprion 16 5640</title>
    <link rel="stylesheet" href="/css/SanPham.css">
    <link rel="stylesheet" href="fontawesome-free-6.7.2/css/all.min.css">
</head>
<body>
    <div id="khung">
        <div id="phandau">
            <div class="khungdau">
                <ul>
                    <li><a href=""><img src="/img/logo/logo3.jpg" alt="Logo"></a></li>
                    <li><input type="text" placeholder="Bạn tìm gì..."><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><button><i class="fa-regular fa-user"></i> Đăng nhập</button></li>
                    <li><button><i class="fa-solid fa-cart-shopping"></i> Giỏ hàng</button></li>
                    <li><a href=""><i class="fa-solid fa-phone"></i> 0123456789</a></li>
                </ul>
            </div>
        </div>
        <div id="phanthan">
            <h2>Dell Insprion 16 5640</h2>
            <div class="dienthoai">
                <div class="sanpham">
                    <img src="/img/ảnh máy/dell/dell-inspiron-16-5640-core-7-khpf5-thumb-600x600.jpg" alt="dell-inspiron-16-5640-core-7-khpf5-thumb-600x600">
                </div>
                <div class="sanpham">
                    <img src="/img/ảnh thông số ky thuật máy/dell/dell-inspiron-16-5640-core-7-n5640c7u161w11ibu-note-638622515293562225.jpg" alt="Thông số kỹ thuật dell-inspiron-16-5640-core-7-khpf5-thumb-600x600">
                </div>
            </div>
            <div class="thongtin">
                <div class="thongso">
                    <h3>Thông số kỹ thuật</h3>
                    <ul>
                        <li>Màn hình: 16", Full HD+ (1920 x 1200)</li>
                        <li>CPU: Lõi 7, 1500</li>
                        <li>Card: NVIDIA Geforce MX570A, 2 GB</li>
                        <li>Pin: 4 cell, 54Wh</li>
                        <li> Khối lượng: 1.87kg</li>
                    </ul>
                    
                </div>
                <div class="mua-them">
                    <button class="mua-ngay">Mua ngay</button>
                    <button class="them-gio-hang">Thêm vào giỏ hàng</button>
                </div>
            </div>
        <div id="phancuoi">
            <div class="noidung">
                <div class="noidung-a">
                    <h3>Tổng đài hỗ trợ</h3>
                    <p><span>Gọi mua: </span><a href=""><h4 style="color: red;">199999999</h4></a> (8:00 - 21:30)</p>
                    <p><span>Khiếu nại: </span><a href=""><h4>188888888</h4></a> (8:00 - 21:30)</p>
                    <p><span>Bảo hành: </span><a href=""><h4>7777777777</h4></a> (8:00 - 21:30)</p>
                </div>
                <div class="noidung-a">
                    <h3>Về công ty</h3>
                    <p>Giới thiệu công ty</p>
                    <p>Tuyển dụng</p>
                    <p>Góp ý</p>
                    <p>Siêu thị</p>
                </div>
                <div class="noidung-a">
                    <h3>Thông tin khác</h3>
                    <p>Tích điểm</p>
                    <p>Hướng dẫn</p>
                    <p>Chính sách bảo hành</p>
                    <p>Chính sách đổi trả</p>
                </div>
                <div class="hotro">
                    <h3>Kết nối với</h3>
                    <div class="lienket">
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-tiktok"></i></a>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</body>
</html>
</html>
